/*
box-shadow:
0px = horizontal offset
4px = vertical offset
10px = blur radius
rgba(...) = shadow color with transparency
*/

* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.card {
    width: 320px;
    margin: 40px auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
}

.card header {
    padding: 20px;
}

.card h2 {
    margin: 0;
}

.title {
    color: gray;
    margin-top: 6px;
}

.card p {
    padding: 0 20px;
}

.card a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background: steelblue;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}